.modal-body {
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
}

.modal {
    background-color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 20%;
}

.more{
    text-align: center;
    color: white;
}

.x{
    width: 13px;
    float: right;
    padding-top: 23%;
    margin-right: 5%;
}